/*added from previous page*/

body, html {
    height: 100%;
    margin: 0;
}

.bgimg {
    background-image: url('/icons/forestbridge.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    /* font-size: medium; */
}

h1 { font-size: 5.9vw; } 
h2 { font-size: 3.0vh; } 
p { font-size: 2.2vh; }

.topleft {
    position: absolute;
    top: 0%;
    left: 1%;
}

a {
    text-decoration: none;
    color:rgba(101, 221, 121, 0.945);
}

  
.bottomleft {
    position: absolute;
    bottom: 0%;
    left: 1%;
}

.middle {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 35px;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}
/*END of added from previous page*/

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    overflow-y: auto;    
    overflow-x: hidden; 
    width: 100%;
}

thead {
    background-color: #393939bd;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}
/* to make header sticky with chrome*/
thead tr:nth-child(1) th{
    background-color: #393939bd;
    position: sticky;
    top: 0;
    z-index: 10;
}


td{
    background-color: #39393980;
}

table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}


/*the container for the table*/

.overflow-container {
    flex: 1;
    overflow-y: auto;
    height: 400px;
    min-height: 0px;
    width: 95%;
    margin-left:auto; 
    margin-right:auto;
}
/* a custom scroller for mozilla and chrome*/
.scroller {
    overflow-y: auto;
    scrollbar-color: #393939 #ddd;
    scrollbar-width: thin;
}

.scroller::-webkit-scrollbar {
    width: 5px;
}
.scroller::-webkit-scrollbar-track {
    background: #ddd;
}

.scroller::-webkit-scrollbar-thumb {
    background: #393939; 
}
  

/* responsive parameters for the table to sow as cells*/

@media screen and (max-width: 950px) {
    
    thead {
        border: 0;
        display: block;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        /* overflow: hidden; */
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

  /* td{
    display: table-cell;
  } */
    td{
        display: block;
    }

    table td {
        border-bottom: 1px solid #ddd;
        font-size: .8em;
        text-align: right;
    }
  
    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
  
    table td:last-child {
        border-bottom: 0;
    }
}
/* @media screen and (max-width: 750px) {
    
    td{
        display: block;
    }
} */